* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.contactImage {
    max-width:150px;
}

div.userImage, div userInfo {
    padding:0 !important;
}

div.userDetails {
    padding:1em 0;
}

div.userDetails ul li {
    border:none; 
    border-bottom: thin solid #eee;
}
div.userDetails ul li:last-child {
    border-bottom: none;
}

div.allContacts {
    height:411px;
    overflow-y: scroll;
}

div.userInfo {
    height:411px;
    border:thin solid #ddd;
    background: #fff;
    overflow: hidden;
    position: relative;
}

div.userInfo {
    padding: 1em !important;
}

div.userInfo .footer {
    position: absolute;
    bottom:0;
    border: none;
    padding: 1em 2em;
    width:100%;
    
}

.loginPage {
    display: none;
}

.loginPage .loginForm {
    max-width:600px;
    margin:0 auto;
    box-shadow: 3px 2px 5px 0 #777;
}